<nav class="navbar navbar-inverse" role="navigation">
  <ul class="nav navbar-nav pull-right marginRight100">
    <li class="<%= params_action('index') %>"><a class="navbar-brand navbar-font-color" href="<%= root_url %>">Home</a></li>	
    <li class="<%= params_action('contact')%>"><a class="navbar-brand navbar-font-color" href="<%= contact_url %>">Contact</a></li>
    <li class="<%= params_action('about') %>"><a class="navbar-brand navbar-font-color" href="<%= about_url %>">About</a></li>
  </ul>
</nav>